<template>
  <div id="text-intro">
    <Nav></Nav>
    <b-container fluid id="container-img">
      <img id="image" src="../assets/equipe.jpg" alt="Équipe Cristal"/>
    </b-container>
    <b-container>
      <b-row sm="12">
        <b-col></b-col>
        <b-col>
          <h1 class="titre">Qui somme nous ?</h1>
        </b-col>
        <b-col></b-col>
      </b-row>
      <hr class="style-four"/>
      <b-row sm="12" id="text-pres">
        <b-col sm="3" class="text-center">
          <img src="../assets/logo-epita.png" class="img-responsive center-block" id="epita" alt="logo EPITA" />
        </b-col>
        <b-col sm="9" class="text-center">
          <p style="text-align: justify">
            Formée d'étudiants volontaires, Cristal, l'Association Entreprise de l'école EPITA, a pour vocation de
            compléter la formation des étudiants de l'école en leur faisant gagner de l'expérience professionnelle.
            Au service et à l'écoute de nos clients depuis plus de 25 ans, nous fournissons des services de qualité
            adaptés à leurs besoins et ce dans tous les domaines relatifs à l'informatique : conseil, conception et
            réalisation.
          </p>
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="gris">
      <b-container>
      <b-row sm="12">
        <b-col></b-col>
        <b-col>
          <h2 class="titre">La parole du président</h2>
        </b-col>
        <b-col></b-col>
      </b-row>
      <hr class="style-four"/>
      <b-row sm="12" class="text-center">
        <b-col sm="12" class="text-center align-middle">
          <table style="height: 100px;">
            <tbody>
            <tr>
              <td class="align-middle" style="width: 70%; text-align: justify"><p>
                Depuis bientôt 30 ans Cristal met l'expertise des élèves de l’EPITA au service des professionnels et
                particuliers porteurs de projets informatiques. Toujours en phase avec son temps, Cristal est capable de
                vous fournir son expertise sur les dernières technologies et les derniers modèles du marché. Que ce soit
                pour du développement mobile, web, applicatif ou encore des interventions en télécommunication, sécurité,
                maintenance ou administration, le domaine d'activité de Cristal ne s'arrête pas à la conception mais englobe
                également le conseil, l'analyse et la formation. Grâce à sa longévité, Cristal a su tirer profit de son
                expérience et améliorer ses processus pour atteindre une satisfaction client maximale. Notre but principal
                est de vous fournir un service alliant la meilleure qualité, le meilleur coût dans les meilleurs délais
                possibles.</p>
                <p><strong>Cristal. Vos idées, notre savoir-faire.</strong></p>
              </td>
              <td></td>
              <td style="width: 20%">
                <img src="../assets/equipe/président.jpg" class="img-responsive center-block img-thumbnail" alt="Président CRISTAL" />
              </td>
            </tr>
            </tbody>
          </table>
        </b-col>
      </b-row>
      </b-container>
    </b-container>
    <b-container id="portfolio">
      <h2 class="titre">L'équipe</h2>
      <hr class="style-four"/>
      <p class="text-center">Cristal est composée uniquement d’étudiants d’EPITA en troisième année ou plus.
        Notre bureau est constitué de François Cherrier-Valentin, président, Paul Banus, vice-président, Alexandre Petska,
        trésorier, Jérémie Tchangang, secrétaire et enfin Aubin Lagorce, responsable S.I.
        En complément du bureau, une équipe de commerciaux se charge de vos missions et un pôle IT s'occupe de
        l'infrastructure de Cristal.</p>
      <b-row class="text-center">
        <b-col>
          <img src="../assets/equipe/président.jpg" alt="François Cherrier-V." class="img-thumbnail"/>
          <h6 class="nom">François Cherrier-V.</h6>
          <p class="fucntion">Président</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/paul.jpg" alt="Paul Banus" class="img-thumbnail"/>
          <h6 class="nom">Paul Banus</h6>
          <p class="fucntion">Vice Président</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/jeremie.jpg" alt="Jérémie Tchangang" class="img-thumbnail"/>
          <h6 class="nom">Jérémie Tchangang</h6>
          <p class="fucntion">Secrétaire</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/pestka.jpg" alt="Alexandre Pestka" class="img-thumbnail"/>
          <h6 class="nom">Alexandre Pestka</h6>
          <p class="fucntion">Trésorier</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/aubin.jpg" alt="Aubin Lagorce" class="img-thumbnail"/>
          <h6 class="nom">Aubin Lagorce</h6>
          <p class="fucntion">Résponsable S.I</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/victor.jpg" alt="Victor Collette" class="img-thumbnail"/>
          <h6 class="nom">Victor Collette</h6>
          <p class="fucntion">Résponsable S.I</p>
        </b-col>
      </b-row>
      <b-row class="text-center">
        <b-col>
          <img src="../assets/equipe/noemie.jpg" alt="Noémie Duflot" class="img-thumbnail"/>
          <h6 class="nom">Noémie Duflot</h6>
          <p class="fucntion">Commerciale</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/none.png" alt="Erwan Lebail" class="img-thumbnail"/>
          <h6 class="nom">Erwan Lebail</h6>
          <p class="fucntion">Commerciale</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/rafaelle.jpg" alt="Rafaelle Chassaing" class="img-thumbnail"/>
          <h6 class="nom">Rafaelle Chassaing</h6>
          <p class="fucntion">Commerciale</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/alban.jpg" alt="Alban Buguet" class="img-thumbnail"/>
          <h6 class="nom">Alban Buguet</h6>
          <p class="fucntion">Commerciale</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/tristan.jpg" alt="Tristan Dietz" class="img-thumbnail"/>
          <h6 class="nom">Tristan Dietz</h6>
          <p class="fucntion">Commerciale</p>
        </b-col>
        <b-col>
          <img src="../assets/equipe/agnola.jpg" alt="Alexandre Agnola" class="img-thumbnail"/>
          <h6 class="nom">Alexandre Agnola</h6>
          <p class="fucntion">Commerciale</p>
        </b-col>
      </b-row>
    </b-container>
    <div class="text-center">
      <b-button id="contact" href="#">Nous contacter</b-button>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Nav from './Nav.vue'
import Footer from './Footer.vue'
export default {
  components: {
    'Nav': Nav,
    'Footer': Footer
  },
  name: 'Equipe',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style>
  .titre{
    color: #0c365a;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  #text-pres {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  #container-img {
    padding: 0;
  }
  #image {
    padding: 0;
    width: 100%;
    max-height: 500px;
  }
  #epita {
    height: 100px;
    width: auto;
  }
  hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }
  p {
    font-family: system-ui, Arial;
  }
  .gris {
    background-color: #F5F7F9;
  }
  #contact {
    background-color: #79b249;
    border-color: #598236;
  }
  #portfolio {
    padding-bottom: 20px;
  }
  .fucntion {
    font-size: small;
    color: gray;
  }
</style>
